VITE_SUPABASE_URL=https://onfogbapyfqjadhvomgi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9uZm9nYmFweWZxamFkaHZvbWdpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE2NTgxMjMsImV4cCI6MjA4NzIzNDEyM30.psbuHbhHm2erF7p4ZG5Hs4RQ8rmTs9aDnftpCeHVAFg
VITE_WEBHOOK_URL=
